{{#if siteSettings.autoresponder_enabled}}
  <label class="control-label">
    {{i18n 'procourse_autoresponder.date_start.title'}}
  </label>
  {{date-input utcTime=model.custom_fields.autoresponder_start_date}}

  <label class="control-label">
    {{i18n 'procourse_autoresponder.date_end.title'}}
  </label>
  {{date-input utcTime=model.custom_fields.autoresponder_end_date}}

  <label class="control-label">
    {{i18n 'procourse_autoresponder.edit_message.title'}}
  </label>
  {{d-editor value=model.custom_fields.autoresponder_message class="raw-bio"}}

  <label class="control-label">
    {{i18n 'procourse_autoresponder.choose_groups.title'}}
  </label>
  {{group-selector groupNames=model.custom_fields.autoresponder_groups groupFinder=userGroupFinder}}
{{/if}}
